main {
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

main:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

img {
    width: 100%;
    height: auto;
}

app-btn {
    width: 150px;
}

.itens .container {
    padding: 24px 0;
    width: 350px;
}

.grid {
    display: grid;
    gap: 12px;
}

.card {
    background: #1f1f1f;
    border: 1px solid #272727;
    border-radius: 8px;
}

.card h3 {
    color: white;
    margin: 10px 0;
}

.card .desc {
    color: #aaa;
    margin: 0 0 8px;
    font-size: 14px;
}

.card .preco {
    background: linear-gradient(90deg, rgba(252, 154, 69, 1) 0%, rgba(253, 59, 29, 1) 100%);
    background-clip: text;
    color: transparent;
    margin: 10px 0;
    font-size: 20px;
}

.info {
    padding: 6px 12px;
}