main {
    background-color: #111;
    overflow: hidden;
}

.itens .container {
    padding: 24px 0;
    width: 350px;
    background-color: #111;
}

.card {
    display: flex;
    flex-direction: column;
    height: 550px;
    margin: 4px;
    background: #1f1f1f;
    border: 1px solid #424242;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    background-color: #141414;
    transform: translateY(-6px);
    box-shadow: 0 2px 16px rgba(255, 119, 0, 0.5);
}

.card-image {
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-image img {
    width: 100%;
    transition: transform 0.4s ease;
}

.card:hover .card-image img {
    transform: scale(1.1);
    filter: brightness(0.85);
}

.card h3 {
    color: white;
    margin: 10px 0;
}

.card .desc {
    color: #aaa;
    margin: 0 0 8px;
    font-size: 14px;
}

.card .preco {
    background: linear-gradient(90deg, rgba(252, 154, 69, 1) 0%, rgba(253, 59, 29, 1) 100%);
    background-clip: text;
    color: transparent;
    margin-top: 12px;
    font-size: 20px;
}

.info {
    padding: 6px 12px;
}

.button {
    margin-top: auto;
}

.button app-btn {
    margin: 6px 4px;
}