<footer>
  <div class="container">
    <div class="logo">
      <div class="logo-container">
        <div class="burger">🍔</div>
        <lucide-icon name="code"></lucide-icon>
        <h3 class="diferente"><app-logomarca></app-logomarca></h3>
      </div>
      <p class="txt">O hambúrguer que compila sabor e <br />inovação. Tech meets gourmet.</p>
    </div>
    <div class="links">
      <h3>Links Rapidos</h3>
      <a routerLink="/cardapio" class="rapidos">Cardapio</a>
      <a routerLink="" class="rapidos">Promoções</a>
      <a routerLink="" class="rapidos">Sobre nois</a>
    </div>
    <div class="contatos">
      <h3>Fale Conosco</h3>
      <div class="contato">
        <lucide-icon name="Phone" size="18px"></lucide-icon>
        <p class="txt">(83) 9 8877-5544</p>
      </div>
      <div class="contato">
        <lucide-icon name="mail" size="18px"></lucide-icon>
        <p class="txt">contato@devburguer.com</p>
      </div>
      <div class="contato">
        <lucide-icon name="map-pin" size="18px"></lucide-icon>
        <p class="txt">João Pessoa PB</p>
      </div>
    </div>
    <div class="redes">
      <h3>Nossas Redes</h3>
      <div class="rede">
        <lucide-icon name="Facebook"></lucide-icon>
        <lucide-icon name="Instagram"></lucide-icon>
        <a href="https://github.com/dieguin0019/DevBurguer" target="_blank" class="git"><lucide-icon name="Github"></lucide-icon></a>
      </div>
    </div>
  </div>
</footer>
