<footer>
  <div class="container">
    <div class="logo">
      <div class="logo-container">
        <div class="burger">🍔</div>
        <lucide-icon name="code"></lucide-icon>
        <h3 class="diferente"><app-logomarca></app-logomarca></h3>
      </div>
      <p class="txt">O hambúrguer que compila sabor e <br />inovação. Tech meets gourmet.</p>
    </div>
    <div class="links">
      <h3>Links Rapidos</h3>
      <a href="">Cardapio </a>
      <a href="">Promoções </a>
      <a href="">Sobre nois </a>
    </div>
    <div class="contato">
      <h3>Fale conosco</h3>
      <p class="txt">(83) 9 8877-5544</p>
      <p class="txt">contato@devburguer.com</p>
      <p class="txt">João Pessoa PB</p>
    </div>
    <div class="Redes">
      <h3>Nossas Redes</h3>
    </div>
  </div>
</footer>
