.header {
    display: flex;
    flex-direction: row;
    padding: 18px;
    background-color: #ff5410;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    position: relative;
    border-bottom: 2px solid black;
}

.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

nav a, .logo {
    text-decoration: none;
    color: #333333;
}

input {
    background-color: #ff5410;
    border: 0;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input:hover {
    background-color: #ff7038;
    border: 1px solid rgb(255, 255, 255);
    transition: 0.2s;
    color: white;
}