.container {
    height: 45vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 37px;

}


.os {
    color: #D9D9D9;

}
.pedidos {
    background: linear-gradient(90deg,rgba(252, 154, 69, 1) 0%, rgba(253, 59, 29, 1) 100%);
    background-clip: text;
    color: transparent;
    display: inline-block;
}
.da{
    color: #D9D9D9;
    margin-top: 120px;
}
.galera{
    color: #D9D9D9;
}
