.hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3rem;
    font-size: 20px;
    background-color: #F28705;
    color: red;
}

.txt:hover {
    text-align: left;
    width: 95%;
    font-family: 'Inter', sans-serif;
    color: red;
}       