<div class="hero">
    <section>
        <h1>🍔 Bem-vindo à devBurguer <br> Onde o sabor é compilado com perfeição!</h1>

        <p class="cor">Na DevBurguer, cada hambúrguer é um código de sabor escrito com paixão. Aqui, unimos o melhor da gastronomia artesanal com o espírito criativo do mundo da <br> tecnologia. Nosso menu é feito para quem ama boas combinações — seja de ingredientes ou de linhas de código.

        Com carnes selecionadas, molhos exclusivos e <br> aquele pão macio que dá o commit final na experiência, queremos que cada mordida seja um verdadeiro deploy de felicidade.
        <br>
        💻 Conecte-se com o sabor.
        🔥 Experimente. Compile. Saboreie.</p>
    </section>
</div>
