.container {
    height: 45vh;
    width: 100%;
    background-color:#1f1f1f;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 37px;
    margin-bottom: 20px;
    color: #FF6B35;
}

p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 26px;
    color: #FF8C42;
    
}
