.hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3rem;
    font-size: 20px;
    background-color: #F28705;
    align-items: center;

}
p {
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: 22px;
    align-items: center;
}
