<div class="flexbox">
    <section class="card">
        <h1>{{ usuario }}</h1>
        <p class="cargo">Desenvolvedor Back-end Sênior - Database Administrador</p>
    </section>
    <section class="card">
        <h1>{{ usuario }}</h1>
        <p class="cargo">Desenvolvedor Back-end Sênior - Database Administrador</p>
    </section>
    <section class="card">
        <img src="img/maranhao.png" alt="Maranhão">
        <h1>{{ usuario }}</h1>
        <p class="cargo">Desenvolvedor Back-end Sênior - Database Administrador</p>
    </section>
</div>
