.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: start;
    margin: 15px;
}

.cargo {
    font-size: 16px;
    color: #444444;
    margin-top: 10px;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #070707;
}