.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #303030;
}

.cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #ff6021;
    border-radius: 8px;
    box-shadow: 0 15px 35px rgba(04, 03, 05, .30);
    padding: 50px;
    background-color: #333333;
}

.inputBox {
    position: relative;
    width: 350px;
}

.inputBox input {
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
    padding: 10px 10px;
    font-size: 1.10rem;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    left: 0;
    font-size: .90rem;
    transform: translateY(-32px);
}

.inputBox span {
    position: absolute;
    left: 5px;
    padding: 10px 0;
    color: rgb(219, 219, 219);
    font-size: 1rem;
    transition: 0.3s;
    pointer-events: none;
}

.inputBox hr {
    background-color: lightgray;
    border: 0;
    margin-bottom: 25px;
    width: 100%;
    height: 2px;
}

.inputBox input:hover ~ hr {
    transition: 0.3s;
    background-color: #e94606;
}

.buttonBox {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 1.9rem;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(139, 139, 139);
}