.mais-pedidos {
    background-color: #111;
    color: #fff;
    padding: 2rem
}

.secao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-secao {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.subtitulo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #ff5a1f;
    font-weight: 600;
}

.titulo-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    border-radius: 6px;
    gap: 4px;
}

.titulo-link a:hover {
    background: #ff5a1f;
    background: linear-gradient(90deg, rgba(252, 154, 69, 1) 0%, rgba(253, 59, 29, 1) 100%);
}

.titulo-link lucide-icon {
    height: 18px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
}