.container {
    display: flex;
    align-items: center;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #4c537c;
    background-image: url('/img/fundo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}