h2 {
    background: linear-gradient(90deg, rgba(252, 154, 69, 1) 0%, rgba(253, 59, 29, 1) 100%);
    background-clip: text;
    color: transparent;
    font-weight: 600;
    font-size: 46px;
}

p {
    color: #aaa;
    font-size: 15px;
}

.container {
    margin-top: 75px;
}

.cardapio {
    background-color: #111;
    color: #fff;
    padding: 2rem
}

.titulo-secao {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.cards-section {
    margin-bottom: 30px;
}

.cards-section h3 {
    background: linear-gradient(90deg, rgba(252, 154, 69, 1) 0%, rgba(253, 59, 29, 1) 100%);
    background-clip: text;
    color: transparent;
    font-size: 34px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
}