:host {
    display: flex;
    flex-direction: column;
}

input {
    background: linear-gradient(90deg, rgba(252, 154, 69, 1) 0%, rgba(253, 59, 29, 1) 100%);
    border: 0;
    border-radius: 10px;
    padding: 12px;
    margin: 10px;
    cursor: pointer;
}